{% extends 'DocumentBundle:Default:TDNAdmin.html.twig' %}

{% block local_stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}" type="text/css">
{% endblock %}

{% block local_header_scripts %}
{% endblock %}

{% block title titreListe %}

{% block contenu_principal %}
<div class="postit-contenu">
   <img src="{{ asset('assets/images/theme/centre/titres/administration_titre.png')}}" />
</div>

<h1 class="titrePage">{{ titreListe }}</h1>

<form class="formSelection" method="post" action="{{ path(bundleName ~ '_index') }}" name="form_selectionListe" id="form_selectionListe" >
<label for="selectField">Champ</label>
<select name="selectField" id="selectField" class="selectInput">
{% for critere in selectList %}
<option value="{{ critere.value }}">{{ critere.texte }}</option>
{% endfor %}
</select>
<label for="selectValeur">Valeur</label>
<input type="text" name="selectValeur" id="selectValeur" class="textInput" size="30" />
<input type="submit" name="selectSubmitter" class="selectSubmitter" value="Chercher" />
</form>

{% if isSelectedField is not empty %}
<p class="rappelSelection"> {{ isSelectedField }} = {{ isSelectedValeur }}</p>
{% endif %}

<table class="adminLog">
	<thead>
		<tr>
			<th class="colonneId">Id</th>
			{% for colonne in colonnesList %}
			<th> 
			<a href='{{ path(bundleName ~ '_index', {'ordre' : colonne}) }}'>{{ colonne }} </a>
			</th>
			{% endfor %}
			{% for colonne in actionsList %}
			<th class="colonneAction"> {{ colonne }} </th>
			{% endfor %}
		</tr>
	</thead>
	{% block adminIndex_data %}
	{% endblock %}

</table>
{% endblock %}
