{# src/Acme/SecurityBundle/Resources/views/Security/login.html.twig #}

{% extends 'DocumentBundle:Default:TDNDocument.html.twig' %}

{% block contenu_principal %}
{% if error is defined %}
    <div>{{ error.message }}</div>
{% endif %}
<form action="{{ path('Nana_passwordResetFinal') }}" method="post">
    <input id="id" type="hidden"  name="id" value="{{ idNana }}">
    <p>Tu peux entrer ton nouveau mot de passe.</p>
    <div class="blockWidget">
        {{ form_row(form.username) }}
     </div>
     <div class="blockWidget">
         {{ form_row(form.password) }}
    </div>
    <div>
	   <input id="envoyer" type="submit"  name="envoyer" value="">
    </div>

    {{ form_row(form._token) }}
</form>
{% endblock %}