{% extends 'DocumentBundle:Default:TDNAdmin.html.twig' %}

{% block local_stylesheets %}
{% endblock %}

{% block local_header_scripts %}
{% endblock %}

{#% block title titrePage %#}

{% block contenu_principal %}
<div class="postit-contenu">
 <img src="{{ asset('assets/images/theme/centre/titres/administration_titre.png')}}" />
</div>

<h1 class="titrePage">{{ titrePage }}</h1>

{% if selectList is not empty %}
<form action="{{ path(referer) }}" method="post" name="form_selectionConseil" id="form_selectionConseil" class="formSelection">
  <label for="selectField">Champ</label>
  <select name="selectField" id="selectField" class="selectInput">
    {% for critere in selectList %}
    <option value="{{ critere.value }}">{{ critere.texte }}</option>
    {% endfor %}
  </select>
  <label for="selectValeur">Valeur</label>
  <input type="text" name="selectValeur" id="selectValeur" class="textInput" size="30" />
  <input type="submit" name="selectSubmitter" class="selectSubmitter" value="Chercher" />
</form>
{% endif %}

{% if isSelectedField is defined %}
<p class="rappelSelection"> {{ isSelectedField }} = {{ isSelectedValeur }}</p>
{% endif %}

<table class="adminLog">
  <thead>
    <tr>
      <th class="colonneId">Id</th>
      {% for colonne in colonnesList %}
      <th> 
        <a href='{{ path(referer, {'ordre' : colonne}) }}'>{{ colonne }} </a>
      </th>
      {% endfor %}
      {% for clef, action in actionsList %}
      <th> {{ clef }} </th>
      {% endfor %}
    </tr>
  </thead>
  {% if documentListe %}
  {% for doc in documentListe %}
  <tr class="TDNDoc-{{doc.statut}}">
    {% block displayContent %}{% endblock %}
    {% for clef, action in actionsList %}
    {% if action['role'] is not defined or is_granted(action['role']) %}
    {% if action['class'] is defined %}{% set style = action['class'] %}{% else %}{% set style = '' %}{% endif %}
    <td>
      <a href='{{ path(action['controleur'], {'id' : doc.idDocument}) }}' class='{{ style }}'>
      {% if action['action'] is iterable %}
      {{ action['action'][doc.statut] }}
      {% else %}
      {{ action['action'] }}
      {% endif %}
      </a>
    </td>
    {% endif %}
    {% endfor %}
  </tr>
  {% endfor %}
  {% else %}
  <tr>
    <td colspan='3' class='no-content'>Aucune document de ce type n'est enregistré</td>
  </tr>
  {% endif %}
</table>
{% endblock %}
