{% extends 'DocumentBundle:Default:TDNAdmin.html.twig' %}

{% block local_stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}" type="text/css">
{% endblock %}

{% block local_header_scripts %}
{% endblock %}

{% block title "Index des brèves" %}

{% block contenu_principal %}
<div class="postit-contenu">
   <img src="{{ asset('assets/images/theme/centre/titres/administration_titre.png')}}" />
</div>

<h1 class="titrePage">Index des brèves</h1>

<form action="{{ path('BreveBundle_breveLog') }}" method="post" name="form_selectionBreve" id="form_selectionBreve" class="formSelection">
	<label for="selectField">Champ</label>
	<select name="selectField" id="selectField" class="selectInput">
		{% for critere in selectList %}
		<option value="{{ critere.value }}">{{ critere.texte }}</option>
		{% endfor %}
	</select>
	<label for="selectValeur">Valeur</label>
	<input type="text" name="selectValeur" id="selectValeur" class="textInput" size="30" />
	<input type="submit" name="selectSubmitter" class="selectSubmitter" value="Chercher" />
</form>

{% if isSelectedField is not empty %}
<p class="rappelSelection"> {{ isSelectedField }} = {{ isSelectedValeur }}</p>
{% endif %}

<table class="adminLog">
	<thead>
		<tr>
			<th class="colonneId">Id</th>
			{% for colonne in colonnesList %}
			<th> 
			<a href='{{ path('BreveBundle_breveLog', {'ordre' : colonne}) }}'>{{ colonne }} </a>
			</th>
			{% endfor %}
			{% for colonne in actionsList %}
			<th class="colonneAction"> {{ colonne }} </th>
			{% endfor %}
		</tr>
	</thead>
	{% if brevesList is empty %}
		<tr>
		<td colspan='3' class='no-content'>Aucune brève n'a été écrit à cette heure</td>
	</tr>
	{% else %}
	{% for breve in brevesList %}
	<tr class="article">
		<td class="colonneId">{{ breve.id }}</td>
   		<td>
      		<a href='{{ path('BreveBundle_editer', {'id' : breve.id }) }}'>{{breve.message}}</a>
   		</td>
   		<td>
   			{{ breve.lnRubrique.titre }}
   		</td>
   		{% for action in actionsRoutesList %}
   		<td class="colonneAction">
      		<a href='{{ path( action, {'id' : breve.id}) }}'>Faire</a>
   		</td>
   		{% endfor %}
	</tr>
	{% endfor %}
	{% endif %}
</table>

<script type="test/javascript">
	$(document).ready(function () {
		$('.colonneAction > a').click(function () {
			return confirmeDelete("Voulez-vous vraiment exécuter cette action ?")
		})

	})
</script>
{% endblock %}
