{% extends 'DocumentBundle:Default:TDNAdmin.html.twig' %}

{% block title "Nouvelle info" %}

{% block local_stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/video.css') }}" type="text/css">
{% endblock %}

{% block contenu_principal %}
<form action="{{ path('Breve_ajouter') }}" method="post" {{ form_enctype(form) }}>

	<div id="texteBreve" class="blockWidget">
		{{ form_row(form.message) }}
	</div>
	<div id="urlBreve" class="lineWidget">
		{{ form_row(form.url, { 'attr' : { 'size' : 50, 'placeholder': 'Attention, l’URL ne doit pas être déjà raccourcie'}} ) }}
	</div>
	<div id="urlBreve" class="choiceWidget">
		{{ form_row(form.lnRubrique) }}
	</div>

    <input type="submit" />
</form>
{% endblock %}