{% block local_stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/commentaire.css') }}" type="text/css">
{% endblock %}

{% block contenu_principal %}
<div class="postit-contenu">
  <a href="{{ path('VideoBundle_sommaire') }}">
    <img src="{{ asset('assets/images/theme/centre/titres/videos_titre_299x80.png')}}" alt="Vidéos" title="Sommaire des vidéos" />
  </a>
</div>
<article id="article-wrapper" class="main video">

  <!-- Contenu de l'article -->
   <section class="contenu main-section">

      <!-- Bloc pour l'affichage des métadonnées de l'article -->
      <div id="metadata" class="metadata">
         <p class="auteur">
            <span class="standardEtiquette">Postée par : </span> 
            <a href="{{ path('NanaBundle_profil', { 'id' : video.lnAuteur.idNana }) }}" class="nom-auteur">{{video.lnAuteur.prenom ~ " " ~ video.lnAuteur.nom }} ({% for r in video.lnAuteur.roles %}{{ r.name }} {% endfor %})</a>, <span class="standardEtiquette">le  </span>
            <span class="date-publication">{{ video.datePublication|laps }}</span>
         </p>

      </div>

      <!-- Bloc pour l'affichage du contenu de l'article -->
      <div id="corps" class="corps">
         <h1 class="titre-document titre-{{ rubriquePrincipale(video.rubriques[0]) }}">{{ video.titre }}</h1>
         <div style="display:block; float:left; margin-right:20px; margin-bottom:20px">
         {{ codeIntegration|raw }}
         </div>
         <div style="display:block">
         <p><span class="standardEtiquette">Durée : </span>{{ video.duree }}</p>
         <div>{{ video.abstract|raw }}</div>
         </div>
        {% if video.filTags is not empty %}
         {% endif %}
      </div>

  </section>


</article>
{% endblock %}