{% extends 'DocumentBundle:Default:TDNDocument.html.twig' %}

{% block title "Sommaire des questions de nanas " %}

{% block local_stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/video.css') }}" type="text/css">
<script type="text/javascript" src="{{ asset('assets/js/custom-form-elements.js') }}"></script>
{% endblock %}

{% block contenu_principal %}
<div class="postit-contenu">
   <img src="{{ asset('assets/images/theme/centre/titres/videos_titre_299x80.png')}}" />
</div>
<article id="article-wrapper" class="sommaireQuestions">
      <!-- Bloc pour l'affichage de la recherche sommaire -->
  <div id="search">
    <div id="moteur">
      <form name="tri-video" id="tri-video" action="{{ path('CauseuseBundle_sommaire') }}" method="get">
      <span class="select">Trier par&hellip;</span>
      <select name="rubrique" id="critere-tri" class="styled">
        <option value="none" selected="selected">Trier par&hellip;</option>
        <option value="tdn">Toutes</option>
        {% for r in rubriques %}
        <option value="{{ r.slug }}">{{ r.titre }}</option>
        {% endfor %}
      </select>
    </form>
  </div>
  </div>


  <section id="corps" class="table-content">
  {#% if more %#}
  <section id="more">
    <h1><span class="hot-number">{{ totalQuestions[1] }}</span> <strong>questions </strong><!-- / Rubrique : {{ nomRubrique }}--></h1>
    {% if listeQuestions is empty %}
    <p class="warning">Aucune question n'a encore été posée</p>
    {% else %}
    <div class="setQuestions">
      {% for q in listeQuestions %}
      <p class="separateurRubrique">
        {% set r = q.rubriques[0] %}
        <span class="{{ rubriquePrincipale(r) }}_texte">{{ r.titre }}</span>
      </p>
      <div class="questionEnveloppe">
        <div class="stats">
          {% set qlikes = 0%}
          {% for r in q.filReponses %}
          {% set qlikes = qlikes + r.likes %}
          {% endfor %}
          <a name="votes" title="Nombre de votes"><span class="votes">{{ qlikes }}</span></a>
          <a name="reponses" title="Nombre de réponses"><span class="reponses">{{ q.filReponses|length }}</span></a>
        </div>
        <div class="corps">
          <div class="question">
            <a href="{{ path('CauseuseBundle_conversation', {'id':q.idDocument, 'slug':q.slug, 'rubrique':q.rubriques[0].slug}) }}">{{ q.question|raw }}</a>
          </div>
          <p class="credits"><a href="{{ path('NanaBundle_profil', {'id': q.lnAuteur.idNana}) }}">{{ q.lnAuteur.username }}</a> <span style="color:#BBC7CC">|</span> {{q.datePublication|date('d/m/Y H:i') }}</p></div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% if derniere > 1 %}
      <form name="pager" id="pagerForm" action="{{ path('CauseuseBundle_sommaire') }}" method="get">
         Page : <input type="text" name="page" id="page" size="2" style="border: 0; color: #000; font-weight: bold;" /> <span class="totalSlides">(sur {{ derniere }})</span>
        <div id="pageSlider" style="display:inline-block;width:160px;position:relative;top:3px"></div>
      </form>
      <script>
        $(document).ready(function() {
          $( "#pageSlider" ).slider({
            value:{{ page }},
            min: 1,
            max: {{ derniere }},
            step: 1,
            slide: function(event, ui) {
              $("#page").val(ui.value );
            },
            stop: function(event, ui) {
              $("#page").val(ui.value );
              $("#pagerForm").submit();
            }
          });
          $( "#page" ).val($( "#pageSlider" ).slider( "value" ) );
        });
      </script>
      {% endif %}
  </section>
  {#% endif %#}
  
</article>
<script type="text/javascript">
  $(document).ready(function () {
    $('#critere-tri').on('change', function () {
      $(this).parents('form#tri-video').submit();
    })
  })
</script>
{% endblock %}